<html>
    <head>
        <title>Test Page</title> 
        <link rel="stylesheet" href="style.css">
        <script>
            function calculate(){
                var da = document.testForm.da.value;
                var ta = document.testForm.ta.value;
                var f = document.testForm.f.value;
                da = parseFloat(da);
                ta = parseFloat(ta);
                f = parseFloat(f);
                //alert(da+" "+ta+" "+f);
                var ema = 5271*Math.pow(da,-1.9593)*ta*(0.0016*(f*f)-0.0076*f+0.8938);
                document.getElementById("result").innerHTML = "EMA = "+ema;
                alert("Result = "+ema);
                var x = document.forms;
            }
        </script>
    </head>
    <body>
        <center>
        <br/>
            <h1>Equation for Arc in Open Air</h1>
        <br/><br/>
            <form name="testForm" method="post" action="/result">
                <table class="form" border="2">
                    <tr>
                        <td>Department:</td>
                        <td><input type=text name=deptName placeholder="Department Name" /><br><br></td>
                    </tr>
                    <tr>
                        <td>Room</td>
                        <td><input type=text name=roomNo placeholder="Room No" /><br><br></td>
                    </tr>
                    <tr>
                        <td>Equipment ID</td>
                        <td><input type=text name=equipId placeholder="Equipment ID" /><br><br></td>
                    </tr>
                    <tr>
                        <td rowspan=4>Equipment Type</td>
                        <td><input type="radio" name="equipType" value="FS" placeholder="Select Type" checked/>&nbsp;Fuse Switch</td>
                        <tr><td><input type="radio" name="equipType" value="SF" placeholder="Select Type" />&nbsp;Switch Fuse</td></tr>
                        <tr><td><input type="radio" name="equipType" value="MCCB" placeholder="Select Type"/>&nbsp;MCCB</td></tr>
                        <tr><td><input type="radio" name="equipType" value="ACB" placeholder="Select Type"/>&nbsp;ACB</td></tr>
                    <tr>
                        <td>DA(Distance from arc Electrodes):</td>
                        <td><input type=text name=da placeholder="in Inches"/><br><br></td>
                    </tr>
                    <tr>
                        <td>tA(Arc Duration):</td>
                        <td><input type=text name=ta placeholder="in Seconds"/><br><br></td>
                    </tr>
                    <tr>
                        <td>F(Bolted Fault Short Circuit Current):</td>
                        <td><input type=text name=f placeholder="in kA"/><br><br></td>
                    </tr>
                </table><br/>
                <button type="submit" class="submitButton">Calculate</button>
            </form>
            <form>
                <button type="submit" class="submitButton" formmethod="get" formaction="/viewAll">View Records</button>
            </form>
            <br/><br/><br/>
            <result id="result"></result>
    </body>
</html>